.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  .nav-button {
    background-color: #4caf50;
    font-family: 'Nabla', cursive;
    border: none;
    color: rgb(229, 231, 68);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition:
      background-color 0.3s,
      box-shadow 0.3s;

    &:hover {
      background-color: #45a049;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
  }
}
